In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import files
uploaded = files.upload()

Saving 911_Finance_Data_A8_1.csv to 911_Finance_Data_A8_1.csv
Saving 911_Finance_Data_A8_2.csv to 911_Finance_Data_A8_2.csv
Saving NBA_DS_A8_1.csv to NBA_DS_A8_1.csv
Saving NBA_DS_A8_2.csv to NBA_DS_A8_2.csv

In [4]:
finance_dataset_1 = pd.read_csv('911_Finance_Data_A8_1.csv')
finance_dataset_2 = pd.read_csv('911_Finance_Data_A8_2.csv')
NBA_dataset_1 = pd.read_csv('NBA_DS_A8_1.csv')
NBA_dataset_2 = pd.read_csv('NBA_DS_A8_2.csv')

In [8]:
# check first finance dataset
finance_dataset_1.shape
finance_dataset_1.info()
finance_dataset_1.head()

(599, 63)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 63 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ETSB Name                                     599 non-null    object
 1   Report Year                                   599 non-null    int64
 2   Population                                    599 non-null    object
 3   Contact                                       599 non-null    object
 4   Contact Email                                 599 non-null    object
 5   Contact Phone                                 599 non-null    object
 6   Illinois Surcharge                            594 non-null    float64
 7   Wireline Surcharge                            596 non-null    float64
 8   VoIP Surcharge                                599 non-null    float64
 9   Local Funds                                   599 non-null    float64
 10  Grant Funds                                   599 non-null    float64
 11  Interest Income                               599 non-null    float64
 12  Contractual Services Revenue                  599 non-null    float64
 13  Other Revenue                                 599 non-null    float64
 14  BOY Reserve Balance                           599 non-null    float64
 15  Expenses Not Classified Above                 599 non-null    float64
 16  Operating Expenses                            599 non-null    float64
 17  Primary PSAPS                                 599 non-null    int64
 18  Secondary PSAPS                               599 non-null    int64
 19  Infrastructure                                599 non-null    float64
 20  Call Taking                                   599 non-null    float64
 21  Radio                                         599 non-null    float64
 22  CAD                                           599 non-null    float64
 23  Mapping                                       599 non-null    float64
 24  EMD                                           599 non-null    float64
 25  Other Equipment/Software                      599 non-null    float64
 26  Coordinator/Director Salary                   599 non-null    float64
 27  Telecommunicators Salaries                    599 non-null    int64
 28  Mapping/GIS Salaries                          599 non-null    float64
 29  Technical/IT Salaries                         599 non-null    float64
 30  Other Salaries                                599 non-null    float64
 31  Fringe Benefits                               599 non-null    float64
 32  Capital Improvements                          599 non-null    float64
 33  Leases                                        599 non-null    float64
 34  Utilities                                     599 non-null    float64
 35  Emergency Backup                              599 non-null    float64
 36  Insurance                                     599 non-null    float64
 37  Furniture/Fixtures                            599 non-null    float64
 38  Office Supplies                               599 non-null    float64
 39  Other Facility Costs                          599 non-null    float64
 40  Telephone/9-1-1 Trunks                        599 non-null    float64
 41  NG 9-1-1/ESInet                               599 non-null    float64
 42  Microwave/Broadband                           599 non-null    float64
 43  Training/Memberships                          599 non-null    float64
 44  Travel                                        599 non-null    float64
 45  Membership Dues                               599 non-null    float64
 46  Legal                                         599 non-null    float64
 47  Audit                                         599 non-null    float64
 48  Translation                                   599 non-null    float64
 49  Contract Fees to Other 9-1-1                  599 non-null    float64
 50  Other Professional Services                   599 non-null    float64
 51  State Consol. Grant Funds                     599 non-null    float64
 52  Remaining Cash Balance                        599 non-null    float64
 53  Vehicle                                       599 non-null    float64
 54  Mobile Data Terminals                         599 non-null    float64
 55  Software Licenses                             599 non-null    float64
 56  Voice/Data Logging Recorder                   599 non-null    float64
 57  Other Personnel Cost                          599 non-null    float64
 58  Radio Ciruits                                 599 non-null    float64
 59  Conferences                                   599 non-null    float64
 60  Certifications                                599 non-null    float64
 61  Public Education                              599 non-null    float64
 62  Mapping/Addressing/GIS Professional Services  599 non-null    float64
dtypes: float64(54), int64(4), object(5)
memory usage: 294.9+ KB

,ETSB Name,Report Year,Population,Contact,Contact Email,Contact Phone,Illinois Surcharge,Wireline Surcharge,VoIP Surcharge,Local Funds,...,Vehicle,Mobile Data Terminals,Software Licenses,Voice/Data Logging Recorder,Other Personnel Cost,Radio Ciruits,Conferences,Certifications,Public Education,Mapping/Addressing/GIS Professional Services
0,Alexander County 9-1-1,2016,"8,238",(*blank*),jfear@unioncountyil.gov,(*blank*),0.00,"47,187.43",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Barrington,2013,"10,327",Bruce Peterson,bpeterson@barrington-il.gov,847-304-3602,"107,436.12","68,947.05",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,Barrington,2014,"10,327",Bruce Peterson,bpeterson@barrington-il.gov,847-304-3602,"100,033.79","66,033.17",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,Barrington,2015,"10,327",Bruce Peterson,bpeterson@barrington-il.gov,847-304-3602,"97,997.00","65,846.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Barrington,2016,"10,327",(*blank*),bpeterson@barrington-il.gov,(*blank*),"107,993.00","63,771.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [9]:
# check the second dataset of finance
finance_dataset_2.shape
finance_dataset_2.info()
finance_dataset_2.head()

(792, 63)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 63 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ETSB Name                                     792 non-null    object
 1   Report Year                                   792 non-null    int64
 2   Population                                    792 non-null    object
 3   Contact                                       792 non-null    object
 4   Contact Email                                 792 non-null    object
 5   Contact Phone                                 792 non-null    object
 6   Illinois Surcharge                            781 non-null    float64
 7   Wireline Surcharge                            777 non-null    float64
 8   VoIP Surcharge                                775 non-null    float64
 9   Local Funds                                   792 non-null    float64
 10  Grant Funds                                   792 non-null    float64
 11  Interest Income                               792 non-null    float64
 12  Contractual Services Revenue                  792 non-null    float64
 13  Other Revenue                                 792 non-null    float64
 14  BOY Reserve Balance                           792 non-null    float64
 15  Expenses Not Classified Above                 792 non-null    float64
 16  Operating Expenses                            792 non-null    float64
 17  Primary PSAPS                                 792 non-null    int64
 18  Secondary PSAPS                               792 non-null    int64
 19  Infrastructure                                792 non-null    float64
 20  Call Taking                                   792 non-null    float64
 21  Radio                                         792 non-null    float64
 22  CAD                                           792 non-null    float64
 23  Mapping                                       792 non-null    float64
 24  EMD                                           792 non-null    float64
 25  Other Equipment/Software                      792 non-null    float64
 26  Coordinator/Director Salary                   792 non-null    float64
 27  Telecommunicators Salaries                    792 non-null    float64
 28  Mapping/GIS Salaries                          792 non-null    float64
 29  Technical/IT Salaries                         792 non-null    float64
 30  Other Salaries                                792 non-null    float64
 31  Fringe Benefits                               792 non-null    float64
 32  Capital Improvements                          792 non-null    float64
 33  Leases                                        792 non-null    float64
 34  Utilities                                     792 non-null    float64
 35  Emergency Backup                              792 non-null    float64
 36  Insurance                                     792 non-null    float64
 37  Furniture/Fixtures                            792 non-null    float64
 38  Office Supplies                               792 non-null    float64
 39  Other Facility Costs                          792 non-null    float64
 40  Telephone/9-1-1 Trunks                        792 non-null    float64
 41  NG 9-1-1/ESInet                               792 non-null    float64
 42  Microwave/Broadband                           792 non-null    float64
 43  Training/Memberships                          792 non-null    float64
 44  Travel                                        792 non-null    float64
 45  Membership Dues                               792 non-null    float64
 46  Legal                                         792 non-null    float64
 47  Audit                                         792 non-null    float64
 48  Translation                                   792 non-null    float64
 49  Contract Fees to Other 9-1-1                  792 non-null    float64
 50  Other Professional Services                   792 non-null    float64
 51  State Consol. Grant Funds                     792 non-null    float64
 52  Remaining Cash Balance                        792 non-null    float64
 53  Vehicle                                       792 non-null    float64
 54  Mobile Data Terminals                         792 non-null    float64
 55  Software Licenses                             792 non-null    float64
 56  Voice/Data Logging Recorder                   792 non-null    float64
 57  Other Personnel Cost                          792 non-null    float64
 58  Radio Ciruits                                 792 non-null    float64
 59  Conferences                                   792 non-null    float64
 60  Certifications                                792 non-null    float64
 61  Public Education                              792 non-null    float64
 62  Mapping/Addressing/GIS Professional Services  792 non-null    float64
dtypes: float64(55), int64(3), object(5)
memory usage: 389.9+ KB

,ETSB Name,Report Year,Population,Contact,Contact Email,Contact Phone,Illinois Surcharge,Wireline Surcharge,VoIP Surcharge,Local Funds,...,Vehicle,Mobile Data Terminals,Software Licenses,Voice/Data Logging Recorder,Other Personnel Cost,Radio Ciruits,Conferences,Certifications,Public Education,Mapping/Addressing/GIS Professional Services
0,Mendota 9-1-1,2013,"7,272",Brian Fisher,bfisher@mendotafire.com,815-539-3434,"68,314.00","27,130.00","10,560.00",0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Macoupin County 9-1-1,2015,"47,765",Aaron Bishop,aaron.bishop@macoupincountyil.gov,217-854-5459,"258,980.00","319,993.00","10,765.25","7,666.00",...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,Mason County ETSB,2013,"14,248",Holly Pedigo,masoncounty911@grics.net,1-309-543-3012,"85,008.00","109,826.00","10,800.00",0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,Schiller Park,2014,"11,200",Cmdr. Ed Ladonsky,eladonsky@schillerparkil.us,847-671-8535,"71,488.00","44,991.00","10,893.00",0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Menard County 9-1-1,2016,"12,705",(*blank*),911coordinator@co.menard.il.us,(*blank*),"103,543.61","110,752.86","11,259.99",0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

### 1. Concatenate together the first two "911" data files. Check for any duplicate records. For the concatenated dataset, display the total of missing values and summarize it per row and group the summary by at least two different groups (e.g., by 'ETSB Name' and 'Contact').

In [12]:
finance_dataset_1['ETSB Name'] = finance_dataset_1['ETSB Name'].astype('category')
finance_dataset_2['ETSB Name'] = finance_dataset_1['ETSB Name'].astype('category')
finance_dataset_1['Contact'] = finance_dataset_1['Contact'].astype('category')
finance_dataset_2['Contact'] = finance_dataset_1['Contact'].astype('category')

In [13]:
finance_dataset_1[['ETSB Name','Contact']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ETSB Name  599 non-null    category
 1   Contact    599 non-null    category
dtypes: category(2)
memory usage: 17.5 KB

In [14]:
finance_dataset_2[['ETSB Name','Contact']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ETSB Name  599 non-null    category
 1   Contact    599 non-null    category
dtypes: category(2)
memory usage: 18.3 KB

In [15]:
finance_dataset_all = pd.concat([finance_dataset_1,finance_dataset_2])

In [16]:
finance_dataset_all.shape

(1391, 63)

In [18]:
finance_dataset_all.isnull().sum(axis=1).value_counts().sort_index()

0    1167
1      18
2     199
3       7
dtype: int64

In [28]:
finance_dataset_all.loc[:,finance_dataset_all.isnull().sum() > 0].isnull().sum()

ETSB Name             193
Contact               193
Illinois Surcharge     16
Wireline Surcharge     18
VoIP Surcharge         17
dtype: int64

In [30]:
finance_dataset_all.loc[finance_dataset_all.duplicated()]

Empty DataFrame
Columns: [ETSB Name, Report Year, Population, Contact, Contact Email, Contact Phone, Illinois Surcharge, Wireline Surcharge, VoIP Surcharge, Local Funds, Grant Funds, Interest Income, Contractual Services Revenue, Other Revenue, BOY Reserve Balance, Expenses Not Classified Above, Operating Expenses, Primary PSAPS, Secondary PSAPS, Infrastructure, Call Taking, Radio, CAD, Mapping, EMD, Other Equipment/Software, Coordinator/Director Salary, Telecommunicators Salaries, Mapping/GIS Salaries, Technical/IT Salaries, Other Salaries, Fringe Benefits, Capital Improvements, Leases, Utilities, Emergency Backup, Insurance, Furniture/Fixtures, Office Supplies, Other Facility Costs, Telephone/9-1-1 Trunks, NG 9-1-1/ESInet, Microwave/Broadband, Training/Memberships, Travel, Membership Dues, Legal, Audit, Translation, Contract Fees to Other 9-1-1, Other Professional Services, State Consol. Grant Funds, Remaining Cash Balance, Vehicle, Mobile Data Terminals, Software Licenses, Voice/Data Logging Recorder, Other Personnel Cost, Radio Ciruits, Conferences, Certifications, Public Education, Mapping/Addressing/GIS Professional Services]
Index: []

[0 rows x 63 columns]

In [31]:
finance_dataset_all[['ETSB Name','Contact']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1391 entries, 0 to 791
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ETSB Name  1198 non-null   category
 1   Contact    1198 non-null   category
dtypes: category(2)
memory usage: 31.4 KB

In [32]:
finance_dataset_all_numeric = finance_dataset_all.select_dtypes(include=['float64','int64'])

In [34]:
aggDisct = {}
for i in finance_dataset_all_numeric.columns:
  aggDisct[i] = ['min', 'max', 'mean', 'count']

finance_dataset_all.groupby('ETSB Name').agg(aggDisct)

                        Report Year                      Illinois Surcharge  \
                                min   max     mean count                min
ETSB Name
Alexander County 9-1-1         2013  2016 2,014.50     2               0.00
Barrington                     2013  2016 2,014.50     8          71,488.00
Bedford Park ETSB              2013  2017 2,014.88     8               0.00
Bellwood 9-1-1                 2013  2016 2,014.50     8          16,656.00
Berkeley                       2013  2016 2,014.88     8          15,270.00
...                             ...   ...      ...   ...                ...
Williamson County              2013  2020 2,016.50     2         925,456.00
Williamson County 9-1-1        2018  2020 2,019.00     4         326,085.44
Willow Springs                 2017  2018 2,017.50     4         149,585.41
Winthrop Harbor ETSB           2013  2019 2,014.75     8          17,320.37
Zion E9-1-1 ETSB               2013  2020 2,016.00     8          56,247.00

                                                      Wireline Surcharge  \
                                 max       mean count                min
ETSB Name
Alexander County 9-1-1     68,314.00  34,157.00     2          27,130.00
Barrington                258,980.00 116,559.94     8          44,991.00
Bedford Park ETSB       1,459,862.65 424,464.52     8               0.00
Bellwood 9-1-1            146,889.21  78,521.18     8          19,590.00
Berkeley                  580,267.00 136,729.43     8           7,898.00
...                              ...        ...   ...                ...
Williamson County         925,456.00 925,456.00     1               0.00
Williamson County 9-1-1   966,482.00 602,685.75     4               0.00
Willow Springs          1,401,397.87 606,375.10     3               0.00
Winthrop Harbor ETSB    1,531,414.27 411,907.59     8               0.00
Zion E9-1-1 ETSB          548,172.95 187,240.38     8               0.00

                                    ... Certifications       Public Education  \
                               max  ...           mean count              min
ETSB Name                           ...
Alexander County 9-1-1   47,187.43  ...           0.00     2             0.00
Barrington              319,993.00  ...           0.00     8             0.00
Bedford Park ETSB       824,836.55  ...           0.00     8             0.00
Bellwood 9-1-1           86,940.99  ...           0.00     8             0.00
Berkeley                377,742.00  ...           0.00     8             0.00
...                            ...  ...            ...   ...              ...
Williamson County        92,881.00  ...      13,088.00     2             0.00
Williamson County 9-1-1       0.00  ...         561.95     4             0.00
Willow Springs                0.00  ...       2,076.24     4             0.00
Winthrop Harbor ETSB    698,411.51  ...           0.00     8             0.00
Zion E9-1-1 ETSB         58,866.00  ...          69.50     8             0.00

                                                 \
                             max     mean count
ETSB Name
Alexander County 9-1-1      0.00     0.00     2
Barrington                  0.00     0.00     8
Bedford Park ETSB           0.00     0.00     8
Bellwood 9-1-1              0.00     0.00     8
Berkeley                    0.00     0.00     8
...                          ...      ...   ...
Williamson County           0.00     0.00     2
Williamson County 9-1-1 3,942.00 1,772.75     4
Willow Springs              0.00     0.00     4
Winthrop Harbor ETSB        0.00     0.00     8
Zion E9-1-1 ETSB            0.00     0.00     8

                        Mapping/Addressing/GIS Professional Services  \
                                                                 min
ETSB Name
Alexander County 9-1-1                                          0.00
Barrington                                                      0.00
Bedford Park ETSB                                               0.00
Bellwood 9-1-1                                                  0.00
Berkeley                                                        0.00
...                                                              ...
Williamson County                                               0.00
Williamson County 9-1-1                                         0.00
Willow Springs                                                  0.00
Winthrop Harbor ETSB                                            0.00
Zion E9-1-1 ETSB                                                0.00


                              max     mean count
ETSB Name
Alexander County 9-1-1       0.00     0.00     2
Barrington                   0.00     0.00     8
Bedford Park ETSB          820.00   102.50     8
Bellwood 9-1-1               0.00     0.00     8
Berkeley                     0.00     0.00     8
...                           ...      ...   ...
Williamson County       12,000.00 6,000.00     2
Williamson County 9-1-1  1,200.00   300.00     4
Willow Springs               0.00     0.00     4
Winthrop Harbor ETSB         0.00     0.00     8
Zion E9-1-1 ETSB        14,425.00 1,803.12     8

[163 rows x 232 columns]

In [35]:
finance_dataset_all.groupby('Contact').agg(aggDisct)

                 Report Year                      Illinois Surcharge  \
                         min   max     mean count                min
Contact
(*blank*)               2013  2020 2,016.04   198               0.00
AMANDA JENNINGS         2014  2019 2,016.25     4          52,873.51
Aaron Bishop            2014  2016 2,015.00     2         285,874.00
Adrienne Svetich        2013  2017 2,014.67     6               0.00
Allan Davis             2013  2020 2,015.71    14          30,766.77
...                      ...   ...      ...   ...                ...
William Barrett         2013  2020 2,015.83     6         100,633.11
William Ramey           2014  2020 2,017.00     2               0.00
William Walquist        2013  2020 2,015.50     6             869.00
Zach Williams           2014  2019 2,016.50     4               0.00
william barrett         2015  2017 2,016.00     2          87,181.00

                                               Wireline Surcharge  \
                          max       mean count                min
Contact
(*blank*)        5,410,959.00 331,902.47   196               0.00
AMANDA JENNINGS    800,740.68 400,011.00     4               0.00
Aaron Bishop       613,760.00 449,817.00     2         346,416.00
Adrienne Svetich 1,459,862.65 550,985.74     6               0.00
Allan Davis        335,724.80 164,036.40    14               0.00
...                       ...        ...   ...                ...
William Barrett    783,714.00 255,368.30     6               0.00
William Ramey      122,041.14  61,020.57     2               0.00
William Walquist 1,574,831.00 362,502.00     6               0.00
Zach Williams      348,898.80  87,224.70     4               0.00
william barrett    158,204.17 122,692.59     2               0.00

                               ... Certifications       Public Education  \
                          max  ...           mean count              min
Contact                        ...
(*blank*)        1,541,664.00  ...         193.57   198             0.00
AMANDA JENNINGS    131,912.00  ...         553.50     4             0.00
Aaron Bishop       419,265.00  ...           0.00     2             0.00
Adrienne Svetich   824,836.55  ...           0.00     6             0.00
Allan Davis        235,777.95  ...           0.00    14             0.00
...                       ...  ...            ...   ...              ...
William Barrett     54,862.33  ...         220.13     6             0.00
William Ramey      142,571.32  ...           0.00     2             0.00
William Walquist   150,418.00  ...           0.00     6             0.00
Zach Williams      189,360.82  ...           0.00     4             0.00
william barrett          0.00  ...           0.00     2             0.00

                                         \
                       max   mean count
Contact
(*blank*)        24,714.00 193.22   198
AMANDA JENNINGS   1,693.61 423.40     4
Aaron Bishop          0.00   0.00     2
Adrienne Svetich      0.00   0.00     6
Allan Davis       2,850.95 416.19    14
...                    ...    ...   ...
William Barrett   3,942.00 657.00     6
William Ramey         0.00   0.00     2
William Walquist      0.00   0.00     6
Zach Williams         0.00   0.00     4
william barrett       0.00   0.00     2

                 Mapping/Addressing/GIS Professional Services            \
                                                          min       max
Contact
(*blank*)                                                0.00 77,765.00
AMANDA JENNINGS                                          0.00      0.00
Aaron Bishop                                             0.00      0.00
Adrienne Svetich                                         0.00    820.00
Allan Davis                                              0.00 16,612.00
...                                                       ...       ...
William Barrett                                          0.00      0.00
William Ramey                                            0.00      0.00
William Walquist                                         0.00      0.00
Zach Williams                                            0.00      0.00
william barrett                                          0.00      0.00


                     mean count
Contact
(*blank*)        1,156.14   198
AMANDA JENNINGS      0.00     4
Aaron Bishop         0.00     2
Adrienne Svetich   136.67     6
Allan Davis      1,950.96    14
...                   ...   ...
William Barrett      0.00     6
William Ramey        0.00     2
William Walquist     0.00     6
Zach Williams        0.00     4
william barrett      0.00     2

[208 rows x 232 columns]

#### 2. Now use the last two "NBA" data files. Merge the two data frames and demonstrate results of merges for each of the 4 possible merging strategies (left, right, inner, outer). Show the numbers of matching and non-matching columns for each merge type. For every of the four merge types, show all the records that are mismatched in the two frames.

In [36]:
# check the NBA first dataset
NBA_dataset_1.shape
NBA_dataset_1.info()
NBA_dataset_1.sample(10)

(27479, 23)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27479 entries, 0 to 27478
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gameorder      27479 non-null  int64
 1   game_id        27479 non-null  object
 2   lg_id          27479 non-null  object
 3   _iscopy        27479 non-null  int64
 4   year_id        27479 non-null  int64
 5   date_game      27479 non-null  object
 6   seasongame     27479 non-null  int64
 7   is_playoffs    27479 non-null  int64
 8   team_id        27479 non-null  object
 9   fran_id        27479 non-null  object
 10  pts            27479 non-null  int64
 11  elo_i          27479 non-null  float64
 12  elo_n          27479 non-null  float64
 13  win_equiv      27479 non-null  float64
 14  opp_id         27479 non-null  object
 15  opp_fran       27479 non-null  object
 16  opp_pts        27479 non-null  int64
 17  opp_elo_i      27479 non-null  float64
 18  opp_elo_n      27479 non-null  float64
 19  game_location  27479 non-null  object
 20  game_result    27479 non-null  object
 21  forecast       27479 non-null  float64
 22  notes          127 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 4.8+ MB

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
15347,51026,200602150GSW,NBA,1,2006,2/15/2006,51,0,LAC,Clippers,...,42.93,GSW,Warriors,88,"1,483.57","1,490.24",A,L,0.42,NaN
2396,38075,199511070CLE,NBA,0,1996,11/7/1995,3,0,CLE,Cavaliers,...,38.86,IND,Pacers,104,"1,605.01","1,609.91",H,L,0.45,NaN
12844,48523,200402280SAS,NBA,1,2004,2/28/2004,60,0,DEN,Nuggets,...,41.17,SAS,Spurs,117,"1,685.50","1,690.84",A,L,0.17,NaN
1893,37572,199502240SAS,NBA,1,1995,2/24/1995,53,0,DET,Pistons,...,24.62,SAS,Spurs,114,"1,653.25","1,655.06",A,L,0.08,NaN
10358,46037,200203110DAL,NBA,0,2002,3/11/2002,63,0,DAL,Mavericks,...,52.57,SEA,Thunder,108,"1,631.47","1,623.31",H,W,0.61,NaN
27246,62925,201503270NYK,NBA,1,2015,3/27/2015,72,0,BOS,Celtics,...,36.95,NYK,Knicks,92,"1,260.57","1,256.37",A,W,0.64,NaN
26472,62151,201412080SAC,NBA,1,2015,12/8/2014,21,0,UTA,Jazz,...,25.37,SAC,Kings,101,"1,471.22","1,474.86",A,L,0.22,NaN
25860,61539,201403190NOP,NBA,0,2014,3/19/2014,67,0,NOP,Pelicans,...,31.58,TOR,Raptors,107,"1,581.05","1,587.66",H,L,0.41,NaN
26281,61960,201411120NOP,NBA,1,2015,11/12/2014,8,0,LAL,Lakers,...,30.12,NOP,Pelicans,109,"1,465.02","1,469.21",A,L,0.28,NaN
10930,46609,200211270SAS,NBA,1,2003,11/27/2002,15,0,DEN,Nuggets,...,28.93,SAS,Spurs,99,"1,607.70","1,612.60",A,L,0.14,NaN

In [38]:
NBA_dataset_1.game_id.count()

27479

In [39]:
NBA_dataset_1.game_id.nunique()

27479

In [42]:
NBA_dataset_1.set_index('game_id')

,gameorder,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
game_id,,,,,,,,,,,,,,,,,,,,,
199311050ATL,35679,NBA,0,1994,11/5/1993,1,0,ATL,Hawks,116,...,43.75,IND,Pacers,110,"1,534.63","1,529.06",H,W,0.62,NaN
199311050BOS,35680,NBA,0,1994,11/5/1993,1,0,BOS,Celtics,108,...,44.39,NYK,Knicks,111,"1,636.00","1,641.55",H,L,0.50,NaN
199311050CHH,35681,NBA,1,1994,11/5/1993,1,0,CHI,Bulls,124,...,58.44,CHH,Pelicans,123,"1,512.83","1,509.61",A,W,0.58,NaN
199311050CLE,35682,NBA,1,1994,11/5/1993,1,0,MIL,Bucks,94,...,31.76,CLE,Cavaliers,91,"1,597.79","1,585.21",A,W,0.15,NaN
199311050DET,35683,NBA,0,1994,11/5/1993,1,0,DET,Pistons,104,...,42.44,MIN,Timberwolves,99,"1,324.89","1,323.01",H,W,0.84,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201506070GSW,63153,NBA,1,2015,6/7/2015,98,1,CLE,Cavaliers,95,...,61.31,GSW,Warriors,93,"1,806.20","1,797.50",A,W,0.24,NaN
201506090CLE,63154,NBA,0,2015,6/9/2015,99,1,CLE,Cavaliers,96,...,61.83,GSW,Warriors,91,"1,797.50","1,790.96",H,W,0.53,NaN
201506110CLE,63155,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,...,60.31,GSW,Warriors,103,"1,790.96","1,809.98",H,L,0.55,NaN
201506140GSW,63156,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,...,60.01,GSW,Warriors,104,"1,809.98","1,813.63",A,L,0.23,NaN
201506170CLE,63157,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,...,59.29,GSW,Warriors,105,"1,813.63","1,822.29",H,L,0.48,NaN

In [37]:
# check the NBA second dataset
NBA_dataset_2.shape
NBA_dataset_2.info()
NBA_dataset_2.sample(10)

(27479, 23)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27479 entries, 0 to 27478
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gameorder      27479 non-null  int64
 1   game_id        27479 non-null  object
 2   lg_id          27479 non-null  object
 3   _iscopy        27479 non-null  int64
 4   year_id        27479 non-null  int64
 5   date_game      27479 non-null  object
 6   seasongame     27479 non-null  int64
 7   is_playoffs    27479 non-null  int64
 8   team_id        27479 non-null  object
 9   fran_id        27479 non-null  object
 10  pts            27479 non-null  int64
 11  elo_i          27479 non-null  float64
 12  elo_n          27479 non-null  float64
 13  win_equiv      27479 non-null  float64
 14  opp_id         27479 non-null  object
 15  opp_fran       27479 non-null  object
 16  opp_pts        27479 non-null  int64
 17  opp_elo_i      27479 non-null  float64
 18  opp_elo_n      27479 non-null  float64
 19  game_location  27479 non-null  object
 20  game_result    27479 non-null  object
 21  forecast       27479 non-null  float64
 22  notes          127 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 4.8+ MB

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
19377,55056,200902250NJN,NBA,0,2009,2/25/2009,58,0,NJN,Nets,...,35.26,CHI,Bulls,99,"1,513.08","1,502.43",H,W,0.53,NaN
11682,47361,200303180SAC,NBA,1,2003,3/18/2003,67,0,GSW,Warriors,...,40.30,SAC,Kings,117,"1,636.58","1,643.44",A,L,0.21,NaN
3333,39012,199603230SEA,NBA,0,1996,3/23/1996,67,0,SEA,Thunder,...,60.68,PHI,Sixers,89,"1,248.56","1,246.96",H,W,0.96,NaN
26342,62021,201411210DEN,NBA,1,2015,11/21/2014,11,0,NOP,Pelicans,...,39.09,DEN,Nuggets,117,"1,464.74","1,477.39",A,L,0.41,NaN
15474,51153,200603070WAS,NBA,0,2006,3/7/2006,59,0,WAS,Wizards,...,41.23,BOS,Celtics,116,"1,467.45","1,473.74",H,L,0.69,NaN
603,36282,199402060PHO,NBA,0,1994,2/6/1994,44,0,PHO,Suns,...,52.04,CHI,Bulls,88,"1,673.30","1,669.66",H,W,0.54,NaN
10934,46613,200211290ATL,NBA,1,2003,11/29/2002,15,0,MIA,Heat,...,32.41,ATL,Hawks,100,"1,469.78","1,473.95",A,L,0.30,NaN
25148,60827,201312080LAL,NBA,1,2014,12/8/2013,19,0,TOR,Raptors,...,38.46,LAL,Lakers,94,"1,499.32","1,481.34",A,W,0.31,NaN
2247,37926,199504180GSW,NBA,0,1995,4/18/1995,79,0,GSW,Warriors,...,29.13,POR,Trailblazers,102,"1,553.13","1,547.90",H,W,0.39,NaN
5195,40874,199712150BOS,NBA,1,1998,12/15/1997,21,0,PHI,Sixers,...,27.67,BOS,Celtics,100,"1,361.02","1,371.31",A,L,0.38,NaN

In [45]:
NBA_dataset_2.game_id.count()
print('\n')
NBA_dataset_2.game_id.nunique()

27479

27479

In [46]:
NBA_dataset_2.set_index('game_id')

,gameorder,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
game_id,,,,,,,,,,,,,,,,,,,,,
199311050ATL,35679,NBA,1,1994,11/5/1993,1,0,IND,Pacers,110,...,44.42,ATL,Hawks,116,"1,517.10","1,522.66",A,L,0.38,NaN
199311050BOS,35680,NBA,1,1994,11/5/1993,1,0,NYK,Knicks,111,...,55.56,BOS,Celtics,108,"1,534.33","1,528.77",A,W,0.50,NaN
199311050CHH,35681,NBA,0,1994,11/5/1993,1,0,CHH,Pelicans,123,...,42.39,CHI,Bulls,124,"1,670.76","1,673.99",H,L,0.42,NaN
199311050CLE,35682,NBA,0,1994,11/5/1993,1,0,CLE,Cavaliers,91,...,50.16,MIL,Bucks,94,"1,394.20","1,406.78",H,L,0.85,NaN
199311050DET,35683,NBA,1,1994,11/5/1993,1,0,MIN,Timberwolves,99,...,23.92,DET,Pistons,104,"1,508.29","1,510.17",A,L,0.16,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201506070GSW,63153,NBA,0,2015,6/7/2015,99,1,GSW,Warriors,93,...,67.03,CLE,Cavaliers,95,"1,708.17","1,716.87",H,L,0.76,NaN
201506090CLE,63154,NBA,1,2015,6/9/2015,100,1,GSW,Warriors,91,...,66.62,CLE,Cavaliers,96,"1,716.87","1,723.41",A,L,0.47,NaN
201506110CLE,63155,NBA,1,2015,6/11/2015,101,1,GSW,Warriors,103,...,67.79,CLE,Cavaliers,82,"1,723.41","1,704.39",A,W,0.45,NaN
201506140GSW,63156,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,...,68.01,CLE,Cavaliers,91,"1,704.39","1,700.74",H,W,0.77,NaN
201506170CLE,63157,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,...,68.52,CLE,Cavaliers,97,"1,700.74","1,692.09",A,W,0.52,NaN

In [47]:
def checkmerge(dfleft, dfright, columnName):
    dfleft['inleft'] = 'Y'
    dfright['inright'] = 'Y'
    dfboth = pd.merge(dfleft[[columnName, 'inleft']], dfright[[columnName, 'inright']], on=[columnName], how="outer")
    dfboth.fillna('N', inplace=True)
    print(pd.crosstab(dfboth.inleft, dfboth.inright))

In [48]:
checkmerge(NBA_dataset_1,NBA_dataset_2,'game_id')

inright  N      Y
inleft
N        0      6
Y        6  27473

In [49]:
left_merge = pd.merge(NBA_dataset_1, NBA_dataset_2, on = ['game_id'], how='left')
right_merge = pd.merge(NBA_dataset_1, NBA_dataset_2, on = ['game_id'], how='right')
inner_merge = pd.merge(NBA_dataset_1, NBA_dataset_2, on = ['game_id'], how='inner')
outer_merge = pd.merge(NBA_dataset_1, NBA_dataset_2, on = ['game_id'], how='outer')

In [52]:
print('left_join', str(left_merge.shape), '\n')
print('right_join', str(right_merge.shape), '\n')
print('inner_join', str(inner_merge.shape), '\n')
print('outer_join', str(outer_merge.shape), '\n')

left_join (27479, 47)

right_join (27479, 47)

inner_join (27473, 47)

outer_join (27485, 47)

In [55]:
inner_merge.isnull().sum(axis=1).value_counts().sort_index()

0      127
2    27346
dtype: int64

In [65]:
left_merge.isnull().sum(axis=1).value_counts().sort_index()

0       127
2     27346
24        6
dtype: int64

In [57]:
right_merge.isnull().sum(axis=1).value_counts().sort_index()

0       127
2     27346
24        6
dtype: int64

In [58]:
outer_merge.isnull().sum(axis=1).value_counts().sort_index()

0       127
2     27346
24       12
dtype: int64

##### According to above code in inner merge we don't have any mismatched rows, in left and right merge we have 6 mismatched rows and in outer merge we have 12 mismatched rows per merging with 'game_id'.

In [68]:
left_merge.loc[left_merge.isnull().sum(axis=1) > 2]

,gameorder_x,game_id,lg_id_x,_iscopy_x,year_id_x,date_game_x,seasongame_x,is_playoffs_x,team_id_x,fran_id_x,...,opp_id_y,opp_fran_y,opp_pts_y,opp_elo_i_y,opp_elo_n_y,game_location_y,game_result_y,forecast_y,notes_y,inright
110,33789,193311200MIN,NBA,1,1994,11/20/1993,8,0,DEN,Nuggets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8849,44528,200101310WAS,NBA,1,2001,1/31/2001,44,0,ORL,Magic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13984,32663,20050290MIN,NBA,1,2005,2/9/2005,49,0,DEN,Nuggets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15402,51081,200602260LAL,NBA,1,2006,2/26/2006,56,0,BOS,Celtics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18765,54444,200811290ORL,NBA,0,2009,11/29/2008,17,0,ORL,Magic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22650,58329,201201160MIN,NBA,1,2012,1/16/2012,14,0,SAC,Kings,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
right_merge.loc[right_merge.isnull().sum(axis=1) > 2]

,gameorder_x,game_id,lg_id_x,_iscopy_x,year_id_x,date_game_x,seasongame_x,is_playoffs_x,team_id_x,fran_id_x,...,opp_id_y,opp_fran_y,opp_pts_y,opp_elo_i_y,opp_elo_n_y,game_location_y,game_result_y,forecast_y,notes_y,inright
110,NaN,199311200MIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DEN,Nuggets,90,"1,461.02","1,464.29",H,L,0.42,NaN,Y
8849,NaN,20010110WAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ORL,Magic,100,"1,477.18","1,483.09",H,L,0.47,NaN,Y
13984,NaN,200502090MIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DEN,Nuggets,92,"1,489.52","1,484.35",H,W,0.64,NaN,Y
15402,NaN,20062260LAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,BOS,Celtics,112,"1,470.24","1,476.59",H,L,0.70,NaN,Y
18765,NaN,20011290ORL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ORL,Magic,110,"1,603.10","1,607.68",A,L,0.21,NaN,Y
22650,NaN,20121160MIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SAC,Kings,86,"1,409.85","1,400.27",H,W,0.59,NaN,Y

In [70]:
outer_merge.loc[outer_merge.isnull().sum(axis=1) > 2]

,gameorder_x,game_id,lg_id_x,_iscopy_x,year_id_x,date_game_x,seasongame_x,is_playoffs_x,team_id_x,fran_id_x,...,opp_id_y,opp_fran_y,opp_pts_y,opp_elo_i_y,opp_elo_n_y,game_location_y,game_result_y,forecast_y,notes_y,inright
110,"33,789.00",193311200MIN,NBA,1.00,"1,994.00",11/20/1993,8.00,0.00,DEN,Nuggets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8849,"44,528.00",200101310WAS,NBA,1.00,"2,001.00",1/31/2001,44.00,0.00,ORL,Magic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13984,"32,663.00",20050290MIN,NBA,1.00,"2,005.00",2/9/2005,49.00,0.00,DEN,Nuggets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15402,"51,081.00",200602260LAL,NBA,1.00,"2,006.00",2/26/2006,56.00,0.00,BOS,Celtics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18765,"54,444.00",200811290ORL,NBA,0.00,"2,009.00",11/29/2008,17.00,0.00,ORL,Magic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22650,"58,329.00",201201160MIN,NBA,1.00,"2,012.00",1/16/2012,14.00,0.00,SAC,Kings,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27479,NaN,199311200MIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DEN,Nuggets,90.00,"1,461.02","1,464.29",H,L,0.42,NaN,Y
27480,NaN,20010110WAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ORL,Magic,100.00,"1,477.18","1,483.09",H,L,0.47,NaN,Y
27481,NaN,200502090MIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DEN,Nuggets,92.00,"1,489.52","1,484.35",H,W,0.64,NaN,Y
27482,NaN,20062260LAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,BOS,Celtics,112.00,"1,470.24","1,476.59",H,L,0.70,NaN,Y
27483,NaN,20011290ORL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ORL,Magic,110.00,"1,603.10","1,607.68",A,L,0.21,NaN,Y
27484,NaN,20121160MIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SAC,Kings,86.00,"1,409.85","1,400.27",H,W,0.59,NaN,Y